In [1]:
#Importing dependencies.

import pandas as pd
import gmaps
import requests

#Importing the API Key.

from config import g_key

#Storing the CSV saved created into a DataFrame.

city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shirokiy,RU,2021-05-26 01:06:07,49.7580,129.5230,56.05,54,12,4.92
1,1,New Norfolk,AU,2021-05-26 01:06:07,-42.7826,147.0587,55.92,49,100,10.83
2,2,Lebu,CL,2021-05-26 01:06:07,-37.6167,-73.6500,54.19,89,100,5.64
3,3,Punta Arenas,CL,2021-05-26 01:03:08,-53.1500,-70.9167,35.71,75,20,12.55
4,4,Saint-Philippe,RE,2021-05-26 01:02:20,-21.3585,55.7679,72.95,85,44,7.83

In [2]:
#Checking data types.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
#Configuring gmaps to use Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#Getting the maximum temperature.

max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [9]:
#Creating the heatmap of temperature.

#Getting the latitude and longitude.
locations = city_data_df[['Lat','Lng']]

#Getting the maximum temperature. 
max_temp = city_data_df['Max Temp']

#Assigning the figure variable.
fig  = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

#Assigning the heatmap variable. 
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],dissipating=False, max_intensity=300,point_radius=4)

#Adding the heatmap layer.
fig.add_layer(heat_layer)

#Calling the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Victoria Point,AU,2021-05-26 01:06:08,-27.5833,153.3000,76.17,72,0,4.00
8,8,Hilo,US,2021-05-26 01:03:37,19.7297,-155.0900,83.28,77,90,13.80
15,15,Rikitea,PF,2021-05-26 01:02:56,-23.1203,-134.9692,77.59,77,35,16.04
17,17,Georgetown,MY,2021-05-26 01:01:29,5.4112,100.3354,82.89,76,20,1.01
19,19,Mangrol,IN,2021-05-26 01:06:11,21.1167,70.1167,82.02,81,100,14.67
21,21,Mana,GF,2021-05-26 01:06:12,5.6592,-53.7767,78.26,92,89,6.40
25,25,Padang,ID,2021-05-26 01:04:15,-0.9492,100.3543,81.86,79,94,2.66
27,27,Avarua,CK,2021-05-26 01:06:13,-21.2078,-159.7750,82.45,78,40,8.05
29,29,San Patricio,US,2021-05-26 01:05:51,28.0170,-97.5169,81.32,83,0,15.68
32,32,Mathbaria,BD,2021-05-26 01:06:15,22.2876,89.9593,80.67,81,100,21.81

In [17]:
#Checking for null values.

preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5   Victoria Point      AU     76.17 -27.5833  153.3000
8             Hilo      US     83.28  19.7297 -155.0900
15         Rikitea      PF     77.59 -23.1203 -134.9692
17      Georgetown      MY     82.89   5.4112  100.3354
19         Mangrol      IN     82.02  21.1167   70.1167
21            Mana      GF     78.26   5.6592  -53.7767
25          Padang      ID     81.86  -0.9492  100.3543
27          Avarua      CK     82.45 -21.2078 -159.7750
29    San Patricio      US     81.32  28.0170  -97.5169
32       Mathbaria      BD     80.67  22.2876   89.9593

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Victoria Point,AU,76.17,-27.5833,153.3000,Bay Retreat Motel
8,Hilo,US,83.28,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Rikitea,PF,77.59,-23.1203,-134.9692,Pension Maro'i
17,Georgetown,MY,82.89,5.4112,100.3354,Cititel Penang
19,Mangrol,IN,82.02,21.1167,70.1167,Hotel The Royal Honours

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))